################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/PierceStat/FileContentIndex/0af48846-0058-4b97-94d5-ffc0640ffee3.vsidx
/.vs/PierceStat/FileContentIndex/647b7f03-a4cb-463a-b9be-d76f34f8e86e.vsidx
/.vs/PierceStat/FileContentIndex/6f925317-66f9-4ef1-8efb-a03e562043cc.vsidx
